{% extends "templates/html/layouts/base.html" %}
{%block subtitle %}: Archives{% endblock %}
{% block content %}
<div id="posts">
    <div id="page-header">
        <h2><i class="fa fa-archive fa-fw"></i>&nbsp;Archives</h2>
    </div>
    {% for group in groups %}
        <h4>{{group.group}}</h4>
        <ul class="fa-ul">
        {% for post in group.posts %}
        <li>
            <i class="fa-li fa fa-file-text-o"></i>{{post.date|date:"MMM dd"}} - <a href="{{post.uri}}">{{post.title}}</a>
        </li>
        {% endfor %}
        </ul>
    {% endfor %}

</div>
{% endblock %}
